* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

:root {
    --white-clr: #FFFAEC;
    --green-clr: #578E7E;
    --black-clr: #3D3D3D;
    --icon-black-clr: invert(21%) sepia(10%) saturate(20%) hue-rotate(324deg) brightness(98%) contrast(89%);
    --icon-green-clr: invert(52%) sepia(18%) saturate(672%) hue-rotate(112deg) brightness(93%) contrast(89%);

}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

.dashboard {
    background-color: var(--green-clr);
    display: flex;
    flex-direction: column;
    gap: 50px;

    & .dashboard-header {
        flex-grow: 0.05;
        display: flex;
        align-items: center;
        padding-left: 1em;
        gap: 0.5em;

        & img {
            width: 5em;
            filter: var(--icon-black-clr);
        }

        & p {
            font-size: 2.5rem;
            font-weight: bold;
            color: var(--black-clr);
        }
    }

    & .dashboard-items {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        /* gap: 1em; */

        & div {
            flex: 0.2;
            display: flex;
            align-items: center;
            padding-left: 2em;
            gap: 1em;
            background-color: var(--black-clr);

            & img {
                width: 3.5em;
                filter: var(--icon-green-clr);
            }

            & p {
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--green-clr);
                margin-top: 10px;
            }
        }

        & .project-list {
            flex-direction: column;
            align-items: flex-start;
            flex: 1;
            background-color: var(--green-clr);
            padding-left: 0;
            gap: 0;

            & div {
                flex-grow: 0.2;
                width: 22.25vw;
                padding-left: 6em;
            }

            & .addProject {
                flex-grow: 0.2;
                width: 22.25vw;                
            }
        }

        div:hover {
            background-color: var(--white-clr);
        }

        .project-list:hover {
            background-color: var(--green-clr);
        }
    }
}

.content {
    background-color: var(--white-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.content-area {
    /* background-color: var(--green-clr); */
    /* border: 10px solid var(--green-clr); */
    width: 75vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    padding: 1em;

    & .content-title {
        flex-grow: 0.1;
        /* background-color: red; */
        display: flex;
        align-items: center;
        padding-left: 2em;


        & .title-project {
            font-size: 2.5rem;
            font-weight: bold;
            color: var(--green-clr);
        }
    }

    & .content-desc {
        flex-grow: 0.2;
        /* background-color: white; */

        & .desc-project {
            font-size: 1.5rem;
            padding-left: 1.4em;
            padding-right: 2em;
            font-weight: 600;
            color: var(--black-clr);
        }
    }

    & .content-task {
        flex: 1;
        /* background-color: red; */
    }
}

.content-task {
    overflow: auto;
    display: grid;
    gap: 1em;
    padding: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));

    & .task {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        /* align-items: center; */
        padding: 1.5em;
        /* background-color: blue; */
        border: 10px solid var(--black-clr);
        border-radius: 1em;
        overflow: hidden;

        & .task-icon {
            display: flex;
            gap: 0.5em;
            justify-content: flex-end;
            & img {
                width: 3em;
                filter: var(--icon-black-clr);
            }
        }
    }

    & .addTask {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px solid var(--black-clr);
        border-radius: 1em;
        
        & p {
            font-size: 10rem;
            color: var(--black-clr);
        }

        & .add-text {
            font-size: 2rem;
            font-weight: bold;
            padding-bottom: 0.5em;
        }
    }
}

.addTask:hover {
    border: 10px solid var(--green-clr);
    & p {
        color: var(--green-clr);
    }
}

dialog {
    justify-self: center;
    align-self: center;
    border: 0;
    border-radius: 1em;

    & .form-container,
    .form-project-container {
        width: 30vw;
        height: 60vh;
        border: 10px solid var(--green-clr);
        background-color: var(--white-clr);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        padding: 2em;

        & label {
            font-size: 2rem;
            color: var(--black-clr);
            font-weight: bold;
            margin-top: 1em;
        }

        & input {
            height: 50px;
            border: 0;
            border: 3px solid var(--green-clr);
            border-radius: 10px;
            padding: 1em;
            color: var(--black-clr);
            font-size: 1.5rem;
        }

        & button {
            margin-top: 1em;
            height: 50px;
            border: 0;
            background-color: var(--green-clr);
            border-radius: 1em;
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--white-clr);
        }
    }
}